<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include("../_partials/header") %>
    <main class="forum-page">
        <section class="comments-container">
            <% for(let i = 0; i < subjects.length; i++){ %>
            <div class="comment">
                <h3><%= subjects[i].subject %></h3>
                <% for(let j = 0; j < messages.length; j++){ %>
                    <% if(messages[j].subjectID == subjects[i].subjectID){ %>
                    <div class="comment-body">
                        <p><%= messages[j].comment %></p>
                        <span>Posted by userID: <%= subjects[i].userID %></span>
                    </div>
                    <% } %>
                <% } %>
                <form action="/answer" method="POST" class="answerInput">
                    <input class="subjectIDinput hidden" type="text" name="subjectID" value="<%= i %>">
                    <textarea class="answerArea hidden" name="comment" id="" cols="30" rows="4" placeholder="Enter your answer"></textarea>
                    <button type="submit" class="answerSubmit button hidden">Submit</button>
                </form>
                <button class="answerButton button">Answer</button>
            </div>
            <% } %>
        </section>
        <form id="forumComment" action="/forum" method="POST">
            <h3>Create new subject:</h3>
            <input type="text" placeholder="subject" name="subject">
            <textarea name="comment"  cols="30" rows="10" placeholder="your comment"></textarea>
            <button class="button" type="submit">Submit</button>
        </form>
    </main>

    <script>
    
        window.localStorage.setItem('userID', "<%= loggedUserId %>");
    
    </script>
    <script src="javascripts/main.js"></script>
    
</body>
</html>